html,
body {
    background-color: rgb(133, 163, 218);
}

.square {
    background-color: black;
    width: 200px;
    height: 200px;
    border-color: black;
    ;
}

.tegla {
    height: 50px;
    width: 100px;
    background-color: black;
}