body {
    background-image: url("math.jpg");
    width: 100%;
    background-repeat: repeat;
}

.negyzet {
    height: 50px;
    width: 50px;
    background-color: black;
}

.tegla {
    height: 50px;
    width: 100px;
    background-color: black;
}